<section class="sectionClass">
    <div class="card col-md-6 offset-md-3 no-padding">
        <div class="card-header">
            <h2 id="titleEM" class="card-title">Edit Employee</h2>
        </div>
        <div class="card-body" style="max-height: calc(90% - 30px); overflow-y: auto;">
            <form (ngSubmit)="updateEmployee()">

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="employee.email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" [(ngModel)]="employee.password" name="password">
                </div>

                <div class="text-right">
                    <button class="btn btn-success" type="submit">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>