<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Update Employee</h3>

            <form (ngSubmit)="updateEmployee()">

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="employee.email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" id="password" [(ngModel)]="employee.password" name="password">
                </div>

                <div class="text-right">
                    <button class="btn btn-success" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
